<nav id="navbar"class="w3-top w3-bar w3-black">
	<!-- Navigation bar with social media icons -->
	<a href={{site.url}} class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
	<a href="https://github.com/wasim-j" class="w3-bar-item w3-button"><i class="fa fa-github"></i></a>
	<a href={"./fcc/index.html" | prepend: site.url} class="w3-bar-item w3-button"><i class="fa fa-free-code-camp"></i></a>
	<a href="https://codepen.io/" class="w3-bar-item w3-button"><i class="fa fa-codepen"></i></a>
	<a href={"./notes/index.html" | prepend: site.url} class="w3-bar-item w3-button w3-right"><i class="fa fa-book"></i></a>
</nav>